
# Created by https://www.gitignore.io/api/sass,text,windows,compressed

### Compressed ###
*.7z
*.deb
*.gz
*.pkg
*.rar
*.rpm
*.sit
*.sitx
*.tar
*.zip
*.zipx

### Sass ###
.sass-cache/
*.css.map

### Text ###
*.doc
*.docx
*.log
*.msg
*.pages
*.rtf
*.txt
*.wpd
*.wps

### Readme ###
README.txt
readme.txt

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Node Modules
node_modules/


# End of https://www.gitignore.io/api/sass,text,windows,compressed